header{
    min-height: 100vh;
    position: relative;

    .header-image{
        display: none;
        position: absolute;
        width: 50%; height: 100%;
        right: 0; top: 0;
        object-fit: cover;
        object-position: left bottom;
    }

}

@media (min-width: 992px) {
    header{
        .header-image{
            display: block;
        }
    }
}


.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 16px 16px;
}

.scrolled{
    background-color: rgba(236, 240, 241, .8);
    padding: 8px 16px;
}