$color-base: #000021;
$color-secondary: #004e92;
$color-secondary-hover: #0161b6;
$color-alternative: rgb(127, 140, 141);
$color-background-1: #f8f8f8;
$color-background-2: #f0f3f5;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 16px;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.section{
    min-height: 100vh;
}

@import "header.scss";


.button{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
    padding: .5rem;
    min-width: 12rem;
    text-align: center;
    border-radius: 2rem;
    border-style: solid;
    border-width: 2px;
    transition: all .3s ease;

    &.primary{
        background-color: $color-secondary;
        color: white;
        border-color: $color-secondary;

        &:hover{
            background-color: $color-secondary-hover;
            border-color: $color-secondary-hover;
            text-decoration: none;
        }
    }
    
    &.outlined{
        background-color: transparent;
        color: $color-alternative;
        border-color: $color-alternative;

        &:hover{
            background-color: $color-alternative;
            color: white;
            text-decoration: none;
        }
    }
}


#servicos{
    background-color: #142144;
    background-image: url("../bg-servicos.png");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    color: white;

    position: relative;
    display: flex;
    align-items: center;
}

.delta-img{
    display: none;
    max-width: 60%;
    max-height: 130vh;
    transform: translate(-5vw,-25vh);
    z-index: 999;
    position: absolute;
    top: 0; left: 0;
}

@media (min-width: 992px) {
    #servicos{
        background-size: 100% auto;
        background-position: left center;
    }
    .delta-img{
        display: block;
    }
}

#solucoes{
    background-image: url("../bg-solucoes.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right bottom;

    position: relative;
    display: flex;
    align-items: center;
}

#atuacao{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    .clip{
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background-color: $color-background-2;
        clip-path: polygon(0 25%, 55% 0, 100% 40%, 100% 100%, 0% 100%);
    }
}

@import "contato.scss";

footer{
    background-color: $color-base;
    color: white;
}